/* ---- reset ---- */
html, body {
    background: linear-gradient(120deg, #155799, #159957);
    background-size: 200% 200%;
    animation: gradientBG 30s ease infinite;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-size: 1em;
}

a, a:visited {
    text-decoration: none;
    color: #aaabb8 !important;
}

a:hover {
    color: #2e9cca !important;
    height: 100%;
    text-decoration: none !important;
}

h1 {
    font-size: 7em;
    font-weight: 300;
    color: #ffffff;
}

h1 span {
    color: #ffffff;
    background-color: #ffffff;
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*animation: gradientBG 1s ease infinite;*/
    height: 100%;
    -webkit-animation: text-flicker-in-glow 4s linear both;
	        animation: text-flicker-in-glow 4s linear both;
}

h2 {
    font-family: 'Rubik', serif;
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
}

h4 {
    font-size: 1.1em;
    margin: 0;
    color: #ffffff;
}

h4 span {
    color: #2e9cca;
    background: -webkit-linear-gradient(-45deg, #ffffff, #2e9cca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientBG 10s ease infinite;
    height: 100%;
}

/* Navigation Bar*/
.navbar-light {
    background-color: transparent !important;
}

#navbarResponsive > ul > li > a {
    transition: all 0.5s ease 0s;
    color: #ffffff !important;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    /*letter-spacing: 5px;*/
}

#navbarResponsive > ul > li {
    margin-left: 1em;
}

#navbarResponsive > ul > li > a:hover {
    transition: all 0.2s ease 0s;
    color: #2e9cca !important;
    text-decoration: none !important;
    border-style: solid;
    padding-bottom: 2px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
    border-radius: 5px;
    background-color: #ffffff;
}

.navbar-toggler-icon {
    color: #ffffff;
}

#navbarResponsive > ul {
    text-align: right;
}

/*Button Settings */
.btn {
    display: inline-block;
    margin: 3px;
    -webkit-transition: 0.2s opacity;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.08);
    border-color: rgba(255,255,255,0.2);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    padding: 5px 15px;
    /*border-radius: 5px;*/
    /*transition: all 0.5s ease 0s;*/
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    letter-spacing: 5px;
}

.btn > a, .btn > a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.btn:hover {
    color: rgba(255,255,255,0.8);
    text-decoration: none;
    background-color: rgba(255,255,255,0.2);
    border-color: rgba(255,255,255,0.3);
    transition: all 0.5s ease 0s;
}

.vertical-center {
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/* Main Panel */
.main-panel {
    height: 100%;
    text-align: center;
    color: #363537;
}

.main-panel > h1 {
    /*font-family: 'Elemental', 'Arial', sans-serif;*/
    font-family: 'Rubik', sans-serif;
}

.bowtie img {
    max-width: 5em;
    padding-bottom: 2em;
}

.bowtie:hover {
    -webkit-animation: jello-horizontal 2s linear infinite;
    animation: jello-horizontal 2s linear infinite;
}

@media (max-width: 576px) {
    h1 {
        font-size: 4em !important;
    }

    h2 {
        font-size: 1.2em !important;
    }

    a {
        font-size: 0.9em;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .bowtie img {
        max-width: 3em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* Fonts */
@font-face {
    font-family: 'Elemental';
    src: url('fonts/elemental end.eot');
    src: url('fonts/elemental end.eot?#iefix') format('embedded-opentype'),
    url('fonts/elemental end.woff') format('woff'),
    url('fonts/elemental end.ttf') format('truetype'),
    url('fonts/elemental end.svg#fp-1549') format('svg');
}

/* Animated Network */
canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    display: none;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    display: none !important;
}

#stats {
    display: none !important;
}

.count-particles {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    20% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    30% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    45% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    55% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

@-webkit-keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 120px rgba(255, 255, 255, 0.7), 0 0 240px rgba(255, 255, 255, 0.55), 0 0 440px rgba(255, 255, 255, 0.35), 0 0 400px rgba(255, 255, 255, 0.2);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0.6), 0 0 0 rgba(255, 255, 255, 0.45), 0 0 0 rgba(255, 255, 255, 0.25), 0 0 0 rgba(255, 255, 255, 0.1);
  }
}
