/* ---- reset ---- */
html, body {
    background: linear-gradient(-45deg, #25274d, #29648a);
    background-size: 400% 400%;
    animation: gradientBG 60s ease infinite;
    height: 100%;
    font-family: 'Montserrat', serif;
    font-size: 1em;
}

a, a:visited {
    text-decoration: none;
    color: #aaabb8 !important;
}

a:hover {
    color: #2e9cca !important;
    height: 100%;
    text-decoration: none !important;
}

h1 {
    font-size: 7em;
    font-weight: 300;
    color: #ffffff;
}

h1 span {
    color: #2e9cca;
    background: -webkit-linear-gradient(-45deg, #ffffff, #2e9cca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientBG 10s ease infinite;
    height: 100%;
}

h2 {
    font-family: 'Rubik', serif;
    font-size: 1.8em;
    font-weight: 500;
    color: #ffffff;
}

/*Button Settings */
.btn {
    display: inline-block;
    margin: 3px;
    -webkit-transition: 0.2s opacity;
    color: #ffffff;
    padding: 5px 15px;
    background-color: rgba(46, 156, 204, 0);
    border-radius: 50px;
    transition: all 0.5s ease 0s;
    text-transform: uppercase;
    font-family: 'Montserrat', serif;
    letter-spacing: 5px;
}

.btn > a, .btn > a:hover {
    color: #ffffff !important;
    text-decoration: none !important;
}

.btn:hover {
    background-color: rgba(46, 156, 204, 1);
    border-radius: 50px;
    transition: all 0.5s ease 0s;
}

.vertical-center {
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/* Main Panel */
.main-panel {
    height: 100%;
    text-align: center;
    color: #363537;
}

.main-panel > h1 {
    /*font-family: 'Elemental', 'Arial', sans-serif;*/
    font-family: 'Rubik', sans-serif;
}

@media (max-width: 576px) {
    h1 {
        font-size: 4em !important;
    }

    h2 {
        font-size: 1.2em !important;
    }

    .navbar-brand > h4 {
        font-size: 1em;
    }

    a {
        font-size: 0.9em;
    }

    .btn {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/* Fonts */
@font-face {
    font-family: 'Elemental';
    src: url('fonts/elemental end.eot');
    src: url('fonts/elemental end.eot?#iefix') format('embedded-opentype'),
    url('fonts/elemental end.woff') format('woff'),
    url('fonts/elemental end.ttf') format('truetype'),
    url('fonts/elemental end.svg#fp-1549') format('svg');
}

/* Animated Network */
canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles {
    display: none;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    display: none !important;
}

#stats {
    display: none !important;
}

.count-particles {
    display: none !important;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bowtie img {
    max-width: 5em;
    padding-bottom: 2em;
}

.bowtie:hover {
    -webkit-animation: jello-horizontal 2s linear infinite;
    animation: jello-horizontal 2s linear infinite;
}


@-webkit-keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    20% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    30% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    45% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    55% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes jello-horizontal {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    10% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    20% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    30% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    45% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    55% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}
