{{ define "main" }}
<main aria-role="main">
    <div>
        <div class="site-title">
            <!-- <img src="../branding/n-button-150-150.png"> -->
            <h1>{{ .Site.Title }}</h1>
        </div>
        <div class="site-subtitle">
        {{- with .Site.Params.homeSubtitle }}
        <h2>{{.}}</h2>
        {{- end }}
        </div>
        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}
    </div>
</main>
{{ end }}
