/* Change backgroudn colour like a rainbow*/

body {
	animation: colorchange 25s infinite;
	/* animation-name followed by duration in seconds*/
	/* you could also use milliseconds (ms) or something like 2.5s */
	-webkit-animation: colorchange 25s infinite;
	/* Chrome and Safari */
	/*text-align: center;*/
	/*min-height: 2000px;*/
	padding-top: 70px;
}

@keyframes colorchange {
	0% {
		background: #F44336;
	}
	25% {
		background: #FFEB3B;
	}
	50% {
		background: #2196F3;
	}
	75% {
		background: #8BC34A;
	}
	100% {
		background: #F44336;
	}
}

@-webkit-keyframes colorchange
/* Safari and Chrome - necessary duplicate */

{
	0% {
		background: #F44336;
	}
	25% {
		background: #FFEB3B;
	}
	50% {
		background: #2196F3;
	}
	75% {
		background: #8BC34A;
	}
	100% {
		background: #F44336;
	}
}

.logo-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 1em;
	width: 100%;

}

.button-tiles {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttom-tiles img {
	max-width: 100%;
}

/* Responsive Headers */

h1 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-bottom: 0px;
	margin-bottom: -15px;
	/*font-size: 8em;*/
}

h2 {
	text-align: center;
	font-weight: bold;
	padding-top: 0px;
	margin-top: 0px;
	font-family: 'Source Serif Pro', serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	/* font-weight: bold; */
	text-transform: uppercase;
}

@media only screen and (min-width: 300px) {
	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 15px;
	}

	.button-tiles img{
		max-width: 25%;
	}
}

@media only screen and (min-width: 500px) {
	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 20px;
	}

	.button-tiles img{
		max-width: 30%;
	}
}

@media only screen and (min-width: 750px) {
	h1 {
		font-size: 120px;
	}

	h2 {
		font-size: 25px;
	}

	.button-tiles img{
		max-width: 35%;
	}
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 140px;
	}

	h2 {
		font-size: 30px;
	}

	.button-tiles img{
		max-width: 100%;
	}
}
