{{- if (eq .name "behence") -}}
    <i class="fab fa-behance"></i>
{{- else if (eq .name "discord") -}}
    <i class="fab fa-discord"></i>
{{- else if (eq .name "docker") -}}
    <i class="fab fa-docker"></i>
{{- else if (eq .name "email") -}}
    <i class="fas fa-envelope"></i>
{{- else if (eq .name "facebook") -}}
    <i class="fab fa-facebook-f"></i>
{{- else if (eq .name "github") -}}
    <i class="fab fa-github"></i>
{{- else if (eq .name "gitlab") -}}
    <i class="fab fa-gitlab"></i>
{{- else if (eq .name "goodreads") -}}
    <i class="fab fa-goodreads-g"></i>
{{- else if (eq .name "hackerrank") -}}
    <i class="fab fa-hackerrank"></i>
{{- else if (eq .name "instagram") -}}
    <i class="fab fa-instagram"></i>
{{- else if (eq .name "kaggle") -}}
    <i class="fab fa-kaggle"></i>
{{- else if (eq .name "keybase") -}}
    <i class="fab fa-keybase"></i>
{{- else if (eq .name "linkedin") -}}
    <i class="fab fa-linkedin-in"></i>
{{- else if (eq .name "mastodon") -}}
    <i class="fab fa-mastodon"></i>
{{- else if (eq .name "medium") -}}
    <i class="fab fa-medium-m"></i>
{{- else if (eq .name "podcasts-apple") -}}
    <i class="fas fa-podcast"></i>
{{- else if (eq .name "podcasts-google") -}}
    <i class="fas fa-podcast"></i>
{{- else if (eq .name "slack") -}}
    <i class="fab fa-slack"></i>
{{- else if (eq .name "stackoverflow") -}}
    <i class="fab fa-stack-overflow"></i>
{{- else if (eq .name "strava") -}}
    <i class="fab fa-strava"></i>
{{- else if (eq .name "reddit") -}}
    <i class="fab fa-reddit-alien"></i>
{{- else if (eq .name "telegram") -}}
    <i class="fab fa-telegram-plane"></i>
{{- else if (eq .name "twitch") -}}
    <i class="fab fa-twitch"></i>
{{- else if (eq .name "twitter") -}}
    <i class="fab fa-twitter"></i>
{{- else if (eq .name "xampp") -}}
    <i class="fas fa-server"></i>
{{- else if (eq .name "xmpp") -}}
    <i class="fas fa-server"></i>
{{- else if (eq .name "youtube") -}}
    <i class="fab fa-youtube"></i>
{{- end -}}
