body {
	background-color: #272929;
	margin-top: 50px;
}

p {
	color: white;
}

.dark-background {
	background-color: #272929;
}

.logo-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	margin-bottom: 1em;
	width: 100%;

}

.button-tiles {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.buttom-tiles img {
	max-width: 100%;
}

/* Navbar Settings */

.navbar-brand {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	font-size: 30px;
	padding: 10px;
	margin: 0px;
	vertical-align: middle;
	/*text-align: center;
	float: none;*/
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.center-block {
	margin-left:auto;
	margin-right:auto;
	display:block;
}


/* Footer Settings */

.footer {
	background-color: white;
	font-family: 'Roboto Slab', serif;
		text-align: center;
}

.container {
    position: relative;
    text-align: center;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
	width: 100%;
    transform: translate(-50%, -50%);
}

.navbar-fixed-bottom {
	margin-bottom: -10px;
}


/* Responsive Headers */

h1 {
	font-family: 'Source Serif Pro', serif;
	font-weight: bold;
	text-align: center;
	color: white;
	padding-bottom: 0px;
	margin-bottom: -15px;
	/*font-size: 8em;*/
}

h2 {
	text-align: center;
	font-weight: bold;
	color: #b8b8b8;
	padding-top:5px;
	margin-top: 0px;
	font-family: 'Source Serif Pro', serif;
}

h3 {
	font-family: 'Roboto Slab', serif;
	text-align: left;
	font-weight: bold;
	/* text-transform: uppercase; */
}

@media only screen and (min-width: 300px) {
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 15px;
	}

	.button-tiles img{
		max-width: 25%;
	}
}

@media only screen and (min-width: 500px) {
	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 20px;
	}

	.button-tiles img{
		max-width: 30%;
	}
}

@media only screen and (min-width: 750px) {
	h1 {
		font-size: 90px;
	}

	h2 {
		font-size: 25px;
	}

	.button-tiles img{
		max-width: 35%;
	}
}

@media only screen and (min-width: 1200px) {
	h1 {
		font-size: 110px;
	}

	h2 {
		font-size: 30px;
	}

	.button-tiles img{
		max-width: 100%;
	}
}

/* Buttons */
.btn-default {
	font-family: 'Roboto Slab', serif;
	border-radius: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

/* Typing Animation */
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid white; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0em; /* Adjust as needed */
  animation:
    typing 6.5s steps(100, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: transparent; }
}
