<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
        <div class="main-wrapper">
            <div class="container">
                <div class="row">
                    <!-- home content -->
                    <div class="col-md-8 col-md-offset-2">
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
